# Java #
*.class

# Package Files #
*.jar
*.war
*.ear

# IDEA #
*.iml
.idea
*~

# eclipse specific git ignore
.project
.metadata
.classpath
.checkstyle
.settings/
.checkstyle

# Maven files #
data/
target/
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Misc #
*.log

# Binary packages
*.gz
*.zip
*.img

# Specific folders
server/tes/
tmpdir